<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Take a break!</title>
    <link rel="stylesheet" href="static/styling.css">
</head>
<body>
<div class="introtext">
    <p>Please take a small break before we go to the next part of the test. When you are ready,
    please click 'continue'.

    <p>
      <button onclick="PROGRESS()">Continue</button>
    </div>

<script>

    function PROGRESS() {
    location.href = '{{next_page}}';
}
</script>


</body>
</html>